<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <h1>Sotheby's</h1>
    <ul class="nav navbar-nav">
      <li>Auction</li>
      <li>Gallery</li>
      <li>Departments</li>
    </ul>
  </nav>

  {{outlet}}
</div>
