<h1>{{title}}</h1>

{{outlet}}

<h2>Products</h2>

{{#each product in products itemController='product'}}
  <p>
    {{product.product-name}}
    <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
  </p>
{{/each}}

<p>
  {{#link-to 'new-product' this class='btn btn-success'}}Add product to lot{{/link-to}}
</p>
